{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <header>
      <!-- navigation  -->
      <nav class="nav-bar">
        <ul class="nav-menu">
          <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
          <li class="nav-item">
            <a href="#about-section" class="nav-link">About Me</a>
          </li>
          <li class="nav-item">
            <a href="#skills-section" class="nav-link">Skills</a>
          </li>
          <li class="nav-item">
            <a href="#project-section" class="nav-link">Projects</a>
          </li>
          <li class="nav-item"><a href="#" class="nav-link">Contact Me</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Hire Me</a></li>
        </ul>

        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <!-- heading Section -->
    <section id="heading-section">
      <div class="content-div">
        <div class="content">
          <h1>Kshitttiz Chaudhary</h1>
          <p>Programmer || Developer || Learner</p>
        </div>
      </div>
    </section>
    <!-- about section -->
    <section id="about-section">
      <h1>About Me</h1>

      <p>
        "I am a Python developer with a strong interest in both artificial
        intelligence and Django web development. With a passion for
        problem-solving and a keen eye for detail, I specialize in crafting
        elegant solutions that leverage AI technologies to enhance user
        experiences. Additionally, my expertise in Django allows me to build
        scalable and efficient web applications with ease. Known for my
        dedication to mastering new technologies and my ability to thrive in
        fast-paced environments, I am eager to contribute to projects that merge
        AI innovation with Django development, creating impactful solutions that
        drive the future of technology."
      </p>
    </section>

    <!-- skills section -->
    <section id="skills-section">
      <h1>Skills</h1>

      <div class="skills-container">
        <!-- card Start -->
        {%for card in cards%}
        <div class="card">
          <img src="{{card.card_image.url }}" alt="image" style="width: 100%" />
          <div class="card-title-container">
            <h4>{{card.card_title}}</h4>
          </div>
        </div>

        {%endfor%}

        <!-- card end -->
      </div>
    </section>

    <!-- project section start  -->
    <section id="project-section">
      <h1 class="project-heading">Project</h1>
      <!-- project container -->

      <div class="project-container">
        <!-- row-1  -->
        <div class="project-row">
          <img
            src="{% static 'img/project-img/mobile.jpg'%}"
            alt="Coding"
            class="project-image"
          />

          <div class="overlay-div">
            <h2 class="project-title">Baby Buy</h2>
            <h3 class="project-subtitle">Android Development Project</h3>
            <p class="project-description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Corporis, laudantium quam minus esse veniam vitae praesentium
              exercitationem illum reprehenderit culpa earum error qui provident
              ducimus aliquid voluptates nisi necessitatibus ad.
            </p>
          </div>
        </div>

        <!-- row 2 -->

        <div class="project-row">
          <img
            src="{% static 'img/project-img/mobile.jpg'%}"
            alt="Coding"
            class="project-image"
          />

          <div class="overlay-div">
            <h2 class="project-title">Baby Buy</h2>
            <h3 class="project-subtitle">Android Development Project</h3>
            <p class="project-description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Corporis, laudantium quam minus esse veniam vitae praesentium
              exercitationem illum reprehenderit culpa earum error qui provident
              ducimus aliquid voluptates nisi necessitatibus ad.
            </p>
          </div>
        </div>

        <!-- row 3 -->
        <div class="project-row">
          <img
            src="{% static 'img/project-img/mobile.jpg'%}"
            alt="Coding"
            class="project-image"
          />

          <div class="overlay-div">
            <h2 class="project-title">Baby Buy</h2>
            <h3 class="project-subtitle">Android Development Project</h3>
            <p class="project-description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Corporis, laudantium quam minus esse veniam vitae praesentium
              exercitationem illum reprehenderit culpa earum error qui provident
              ducimus aliquid voluptates nisi necessitatibus ad.
            </p>
          </div>
        </div>

        <!-- row 4 -->
        <div class="project-row">
          <img
            src="{% static 'img/project-img/mobile.jpg'%}"
            alt="Coding"
            class="project-image"
          />

          <div class="overlay-div">
            <h2 class="project-title">Baby Buy</h2>
            <h3 class="project-subtitle">Android Development Project</h3>
            <p class="project-description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Corporis, laudantium quam minus esse veniam vitae praesentium
              exercitationem illum reprehenderit culpa earum error qui provident
              ducimus aliquid voluptates nisi necessitatibus ad.
            </p>
          </div>
        </div>

        <!-- row 5 -->
        <div class="project-row">
          <img
            src="{% static 'img/project-img/mobile.jpg'%}"
            alt="Coding"
            class="project-image"
          />

          <div class="overlay-div">
            <h2 class="project-title">Baby Buy</h2>
            <h3 class="project-subtitle">Android Development Project</h3>
            <p class="project-description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Corporis, laudantium quam minus esse veniam vitae praesentium
              exercitationem illum reprehenderit culpa earum error qui provident
              ducimus aliquid voluptates nisi necessitatibus ad.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- project section end -->

    <!-- footer -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Important Links</h4>
            <ul>
              <li><a href="#heading-section">Home</a></li>
              <li><a href="#about-section">About Me</a></li>
              <li><a href="#skills-section">Skills</a></li>
              <li><a href="#projects-section">Project</a></li>
              <li><a href="#contact-section">Contact</a></li>
            </ul>
          </div>

          <div class="footer-col">
            <h4>Important Project</h4>
            <ul>
              <li><a href="#">Credit Card Frud Detection</a></li>
              <li><a href="#">Movie App (Flutter)</a></li>
              <li><a href="#">Todo (Django)</a></li>
              <li><a href="#">Portfolio (Django)</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Follow Me</h4>
            <div class="social-links">
              <a href="#"
                ><img src="{%static 'img/icons/github.png'%}" alt="github"
              /></a>
              <a href="#"
                ><img src="{%static 'img/icons/linkedin.png'%}" alt="github"
              /></a>
              <a href="#"
                ><img
                  src="{%static 'img/icons/instagram.png'%}"
                  alt="instagram"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- floating action button -->
    <button class="floating-button" id="back-to-top">
      <img src="{% static 'img/icons/up_arrow.png' %}" alt="Button Image" />
    </button>

    <!-- js start form here -->

    <script src="{%static 'js/app.js'%}"></script>
  </body>
</html>
