@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

header {
  width: 100%;
  height: 70px;
  /* background-color: red; */
}

.nav-bar {
  padding: 0px 10px;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* 1rem = 10px */
}

section {
  width: 100%;
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
}

h1 {
  font-size: 6.2rem;
}

p {
  font-size: 2rem;
}

.nav-bar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  /* background-color: red; */
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-link {
  transition: 0.4s ease-in-out;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

/* heading section */

#heading-section {
  width: 100%;
  height: calc(100vh - 70px);
}

#heading-section .content-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: blue; */
}

#heading-section .content-div p {
  font-size: 2rem;
  text-align: center;
}

/* about section */

/* about me section  */
#about-section {
  background-color: grey;
  position: relative;
  min-height: 100vh;
}

#about-section h1 {
  padding: 10px 20px;
}

#about-section p {
  position: absolute;
  top: 35%;
  left: 10%;
  right: 10%;
  /* transform: translate(-50%,-50%); */
  font-size: 2.8rem;
  text-align: justify;
  line-height: 3rem;
}

/* skill section*/

#skills-section {
  width: 100%;
  padding: 50px 20px;
  margin-bottom: 50px;
  /* background-color: red; */
}

h3 {
  font-size: 3.2rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
  /* background-color: rebeccapurple; */
}

.card {
  width: calc(16.66% - 60px);
  flex-grow: 1;
  margin: 10px;
  padding: 20px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(2, 2, 2, 0.2);
}

.card img {
  height: 75%;
  width: auto;
}

.card-title-container {
  text-align: center;
  height: 20%;
  margin-top: 10px;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

/* project section start  */
#project-section {
  background-color: grey;
  padding: 20px;
}

#project-section .project-heading {
  font-size: 62px;
}

#project-section .project-container {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.project-row {
  flex-basis: calc(33.33% - 20px);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  height: auto;
}
.project-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: scale 0.5s ease-in-out;
}

.project-row:hover .project-image {
  scale: 1.2;
}

.overlay-div {
  width: 100%;
  height: 0%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  visibility: hidden;
  transition: all 0.7s linear;
}
.project-title,
.project-subtitle,
.project-description {
  color: rgb(47, 75, 136);
  margin-top: 5px;
}

.project-title {
  font-size: 2.4rem;
  color: red;
}

.project-subtitle {
  font-size: 1.6rem;
}

.project-description {
  font-size: 1rem;
}

#project-section .project-row:hover .overlay-div {
  height: 70%;
  visibility: visible;
}

/* project section end  */

/* contact Section  start */
.contact-heading {
  font-size: 62px;
  margin-left: 20px;
}

.contact-div {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 30px;
  padding: 20px;
  box-shadow: 5px 5px 15px 5px rgba(77, 70, 70, 0.123);
}

.left-div {
  flex-basis: calc(50% - 20px);
  /* background-color: blueviolet; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-div .contact-sub-heading {
  font-size: 4.2rem;
  position: relative;
  cursor: pointer;
}

.left-div .contact-sub-heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15%;
  height: 2px;
  background-color: transparent;
  background-color: #000;
  transition: background-color 0.3s ease;
}

.left-div .contact-des {
  font-size: 2.6rem;
}
.mail-address .mail-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* background-color: blue; */
}
.mail-icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.mail {
  font-size: 1.8rem;
}

.contact-icon-div {
  display: flex;
}

.icon-img {
  margin-right: 30px;
}
.right-div {
  flex-basis: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-around;
  /* background-color: green; */
}

.right-div-heading {
  font-size: 2rem;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

input[type="text"]:focus {
  outline: #1111;
}

/* Style the placeholder text */
input[type="text"]::placeholder {
  color: #999;
}

textarea {
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

textarea:focus {
  border-color: #1111;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

input[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea::placeholder {
  color: #999;
}

/* contact Section end */

/* footer section */

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer-col .social-links a img {
  width: 100%;
}

/* floating button */

/* Styles for the floating button */
.floating-button {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--floating-btn-color);
  border: none;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Hover effect for the button */
.floating-button:hover {
  background-color: rgba(32, 65, 32, 0.493);
}
.floating-button img {
  width: 40px;
  height: 40px;
  padding: 10px;
}

/* responsive 1200 */

@media (max-width: 1200px) {
  #about-section p {
    top: 20%;
    left: 10%;
    font-size: 2.4rem;
  }
  .skills-container {
    padding: 30px;
    /* background-color: rebeccapurple; */
  }

  .card {
    width: calc(25% - 60px);
  }
  .card-title-container {
    font-size: 1.6rem;
  }
}

/* responsive design  890 */

@media (max-width: 890px) {
  h1 {
    font-size: 4.2rem;
  }
  .card {
    flex-basis: calc(33.33% - 20px);
  }

  #about-section p {
    top: 12%;
    left: 10%;
    font-size: 1.8rem;
  }

  /* contact section */
  .left-div .contact-des {
    font-size: 1.6rem;
  }

  /* contact section */
  .left-div {
    flex-basis: calc(100% - 20px);
  }

  .right-div {
    flex-basis: calc(100% - 20px);
  }
}

/* responsive design  768 */

@media (max-width: 768px) {
  /* responsive navigation */
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 0px;
    flex-direction: column;
    background-color: #a09999;
    width: 100%;
    text-align: center;
    transition: 0.3s linear;
    height: 100%;
    justify-content: start;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-item .nav-link {
    color: #fff;
    font-size: 2.5rem;
  }

  .nav-menu.active {
    left: 0;
  }

  h1 {
    font-size: 4.2rem;
  }

  p {
    font-size: 1.6rem;
  }

  /* project section  */

  .project-row {
    flex-basis: calc(50% - 20px);
  }
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

/* responsive 574px */
@media (max-width: 574px) {
  /* project section */

  .project-row {
    flex-basis: calc(100%);
  }

  .project-title {
    font-size: 1.4rem;
    color: red;
  }

  .project-subtitle {
    font-size: 1rem;
  }

  .project-description {
    font-size: 0.8rem;
  }

  /* footer section  */
  .footer-col {
    width: 100%;
  }
}
/* responsive desing 490 px */

@media (max-width: 490px) {
  #contact-section {
    padding: 20px;
  }

  #contact-section .contact-heading {
    font-size: 2.2rem;
  }

  .contact-div {
    /* background-color: red; */
    margin: 0;
    padding: 20px;
  }
  .left-div {
    flex-basis: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    justify-content: start;
    /* background-color: #0056b3; */
    height: auto;
  }
  .left-div .contact-sub-heading {
    font-size: 2.6rem;
    margin-bottom: 20px;
  }

  .left-div .contact-des {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  .mail-icon {
    width: 20px;
    height: 20px;
  }

  .contact-icon-div {
    width: 40px;
    height: 50px;
    margin-bottom: 10px;
  }

  .icon-img {
    width: 20px;
    height: 20px;
    margin-right: 50px;
  }

  .mail-address {
    margin-bottom: 20px;
  }
  .mail {
    font-size: 1.4rem;
  }

  .right-div {
    flex-basis: 100%;
    margin-top: 20px;
    padding: 0;
  }
}

/* responsive design  450 */
@media (max-width: 450px) {
  h1 {
    font-size: 4rem;
  }

  #about-section {
    padding: 10px 0px;
  }
  #about-section p {
    top: 10%;
    left: 5%;
    font-size: 1.6rem;
  }
  .skills-container {
    padding: 10px;
  }
  .card {
    flex-basis: calc(100%);
  }
  .card-title-container {
    font-size: 1.8rem;
  }
}
